body {
  line-height: 1.7;
}

.sidebar-title a {
  text-decoration: none;
}

.quarto-title-meta {
  display: none;
}

pre code {
  white-space: pre-wrap;
}

.sidebar-menu-container .sidebar-item:first-child .chapter-number,
.quarto-page-breadcrumbs .breadcrumb-item:first-child .chapter-number {
  display: none;
}
