div.note {
    width: 100%;
    font-size: 80%;
    text-align: left;
}

div.prog {
    width: 70%;
    float: center;
    padding-left: 10px;
    background: #f5f5f5;
    color: #191919;
}

div.progmain {
    width: 520px;
    height: 350px;
    float: left;
    background: #f5f5f5;
    color: #191919;
    position: relative;
}

pre {
    font-family: monaco, Consolas, "Lucida Console", monospace;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}

span.comment {
    font-style: italic;
    color: #40007e;
}

span.kw {
    font-weight: bold;
    color: #006633;
}

span.pw {
    font-weight: normal;
    color: #4d2600;
}

span.str {
    color: #b22222;
}

span.sym {
    color: #800000;
}

.credits {
    font-style: italic;
    text-align: right;
}

div.snippet {
    float: right;
    width: 55%;
    overflow: auto;
}

.published {
    font-size: 90%;
    font-style: italic;
    color: #202020;
}
